@media (min-width: 355px) {
    body{
        background-color: #1C1C1C;
    }

    .principal-head{
        background-color: #25632D;
    }
    .principal-head-logo{
        display: flex;
        justify-content: center;
    }
    .principal-head-logo img{
        max-width: 60%;
    }

    .nav-bar {
        text-align: center; 
        background-color: #25632D;
    }
      
    .nav-bar a {
        display:block;  
        color: white;
        font-family: "Suez One", serif;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 400;
    }

    .principais-marcas{
        display: flex;
        align-items: center;
        background-color: whitesmoke; 
    }

    .principais-marcas-imagens{
        display: flex;
        justify-content: center;
        width: 16.5%;
    }

    .sobre-nos{
        text-align:center;
    }

    .sobre-nos h2{
        margin: 2.5%;
        color: #00A859;
        font-family: "Suez One", serif;
    }

    .nossas-lojas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px 15px 15px 15px;
        border-color: #276930;
        background: #245f2c;
        color: white;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    
    .paragrafo{
        margin: 2%;
        color: white;
        font-family: "Archivo Black", sans-serif;
    }

    .paragrafo strong {
        color: #00A758;
    }
    
    .image-with-caption {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        align-items: center;
    }
    
    
    .caption {
        background-color: #25632D;
        box-shadow: 20px 20px 30px rgb(2, 2, 2);
        padding: 0.425rem;
        font-size: 0.8rem;
    }
    

    .caption p{
        color: #ffff;
        font-weight: 500;
        font-family: "Suez One", serif;
    }
    
    .caption strong{
        color: #A8CF45;
        font-weight: 500;
        font-family: "Suez One", serif;
        
        
    }

    .logomatecol{
        display: flex;
        justify-content: center;
        margin: 10%;
    }   

    .logomatecol img{
        max-width: 80%;
    }

    .lojas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }

    .lojas img{
        max-width: 95%;
    }
}
