@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@media (min-width: 355px) {
    body{
        background-color: #1C1C1C;
    }

    .principal-head{
        background-color: #25632D;
    }
    .principal-head-logo{
        display: flex;
        justify-content: center;
    }
    .principal-head-logo img{
        max-width: 60%;
    }

    .nav-bar {
        text-align: center; 
        background-color: #25632D;
    }
      
    .nav-bar a{
        display: block;
        color: white;
        font-family: "Suez One", serif;  
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;      
    }
    
    .nav-bar a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: #A8CF45; 
        transition: all 0.3s ease; 
        transform: scaleX(0); 
    }
    
    .nav-bar a:hover::after {
        transform: scaleX(1); 
    }

    .principais-marcas{
        display: flex;
        align-items: center;
        background-color: whitesmoke; 
    }

    .principais-marcas-imagens{
        display: flex;
        justify-content: center;
        width: 16.5%;
    }

    .sobre-nos{
        text-align:center;
    }

    .sobre-nos h2{
        margin: 2.5%;
        color: #00A859;
        font-family: "Konkhmer Sleokchher", system-ui;
    }

    .nossas-lojas {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 15px 15px 15px 15px;
        border-color: #276930;
        background: #245f2c;
        color: white;
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
    
    .paragrafo{
        margin: 2%;
        color: white;
        font-family: "Konkhmer Sleokchher", system-ui;
    }

    .paragrafo strong {
        color: #00A758;
    }
    
    .image-with-caption {
        display: flex;
        flex-direction: column;
        margin-bottom: 6rem;
        align-items: center;
    }
    
    
    .caption {
        background-color: #25632D;
        box-shadow: 20px 20px 30px rgb(2, 2, 2);
        padding: 0.425rem;
        font-size: 0.8rem;
        height: 3rem;
        width: 19.2rem;
    }
    

    .caption p{
        color: #ffff;
        font-weight: 500;
        font-family: "Suez One", serif;
    }
    
    .caption strong{
        color: #A8CF45;
        font-weight: 500;
        font-family: "Suez One", serif;
        
        
    }

    .logomatecol{
        display: flex;
        justify-content: center;
        margin: 10%;
    }   

    .logomatecol img{
        max-width: 80%;
    }

    .lojas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }

    .lojas img{
        max-width: 95%;
    }
/*CARDS "NOTICIAS"*/

    .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
    }

    img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    }

    .card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

    }

    .card__body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    }
    .card__body p{
        font-size: ;
    }

    .tag {
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    }

    .tag + .tag {
    margin-left: .5em;
    }

    .tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
    }

    .tag-brown {
    background: #D1913C;
    background: linear-gradient(to bottom, #FFD194, #D1913C);
    color: #fafafa;
    }

    .tag-red {
    background: #cb2d3e;
    background: linear-gradient(to bottom, #ef473a, #cb2d3e);
    color: #fafafa;
    }

    .card__body h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    }

    .card__footer {
    display: flex;
    padding: 1rem;
    margin-top: auto;
    }

}

