@media (min-width: 355px) {
    body{
        background-color: #1C1C1C;
    }

    .principal-head{
    background-color: #25632D;
    }

    .principal-head-logo img{
        max-width: 100%;
    }

    .nav-bar {
        text-align: center; 
        background-color: #25632D;
    }
      
    .nav-bar a {
        display:block; 
        margin-bottom: 10px; 
        font-size: 25px;
    }

    .principais-marcas{
        display: flex;
        align-items: center;
        background-color: whitesmoke; 
        margin-top: 2%;
    }

    .principais-marcas-imagens{
        display: flex;
        justify-content: center;
        width: 16.5%;
    }

    .sobre-nos{
        word-break:keep-all;
        word-spacing: 2px;
    }

    .sobre-nos h2{
        margin: 2.5%;
        color: #00A859;
        font-family: "Suez One", serif;
    }

    .paragrafo{
        margin: 2%;
        color: white;
        font-family: "Archivo Black", sans-serif;
    }

    .paragrafo strong {
        color: #00A758;
    }

    .logomatecol{
        display: flex;
        justify-content: center;
        margin: 10%;
    }   

    .logomatecol img{
        max-width: 80%;
    }

    .lojas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }

    .lojas img{
        max-width: 95%;
    }
}
