 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="/static/styleTwo.css" rel="stylesheet" />
    <link rel="icon" href="/images/ico.ico">
    <title>Matecol - Materiais para Construção e Agricultura</title>
</head>
    <body>
        <header>
            <div class="principal-head">
                <div class="principal-head-logo">
                  <a href="/templates/Home.html">
                    <img src="/images/mail.png" class="logo" alt="Logo matecol-construcao e agricultura">
                  </a>
                </div>
            </div>
        </header>
        <nav>
          <div class="mae-nav-bar">
            <div class="nav-bar">
              <a href="#sobre-nos">Sobre nós</a>
              <a href="#nossas-filiais">Nossas Filiais</a>
              <a href="#linha-exclusiva">Linha Exclusiva</a>
              <a href="#trabalhe-conosco">Trabalhe Conosco</a>
          </div>
          </div>
        </nav>
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4ce9366941.js" crossorigin="anonymous"></script>
