 <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Tamil:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Konkhmer+Sleokchher&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="/static/styleTwo.css" rel="stylesheet" />
    <link rel="icon" href="/images/ico.ico">
    <title>Matecol - Materiais para Construção e Agricultura</title>
</head>
    <body>
        <header>
          <div class="principal-head">
            <div class="principal-head-logo">
                <img src="/images/mail.png"  alt="Logo matecol-construcao e agricultura">
            </div>
          </div>
        </header>
        <nav>
          <div class="mae-nav-bar">
            <div class="nav-bar">
              <a href="#sobre-nos">Sobre nós</a>
              <a href="#nossas-filiais">Nossas Lojas</a>
              <a href="#linha-exclusiva">Linha Exclusiva</a>
              <a href="#trabalhe-conosco">Trabalhe Conosco</a>
          </div>
          </div>
        </nav>
        <div class="banners">
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/carrossel/banner011280x800.png" class="d-flex w-100 mx-auto " alt="...">

              </div>
              <div class="carousel-item">
                <img src="/images/carrossel/banner021280x800.png" class="d-block w-100 mx-auto " alt="...">
              </div>
              <div class="carousel-item">
                <img src="/images/carrossel/banner031280x800.png" class="d-block w-100 mx-auto " alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon w-100" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="principais-marcas">
          <img class="principais-marcas-imagens" src="/images/SUVINIL-LOGO-440.png" alt="">
          <img class="principais-marcas-imagens" src="/images/Quartzolit_Logo/Quartzolit_Logo_RGB/Quartzolit_Logo_RVB.png" alt="">
          <img class="principais-marcas-imagens" src="/images/AMANCO-440.png" alt="">
          <img class="principais-marcas-imagens" src="/images/arielle logo.png" alt=""> 
          <img class="principais-marcas-imagens" src="/images/INCENOR-LOGO-440.png" alt="">
          <img class="principais-marcas-imagens" src="/images/tecnogres logo.png 2.png" alt=""> 
        </div>

        <section id="sobre-nos">
          <div class="conheca-matecol">
            <div class="sobre-nos">
              <h2>Conheça a Matecol - É barato é Matecol </h2>
              <div class="paragrafo">
                <strong>Desde 1994,</strong> atuando no ramo de Materiais de Construção e Agricultura, a Matecol se consolidou no mercado junto de seus fornecedores e clientes.
                <br>
                Hoje, contamos com <strong>5 lojas </strong>e estamos sempre investindo em nossos colaboradores e inovação. <strong><br>Nosso lema é "Barato é Matecol, mais barato só de graça!".</strong>
                <br>
                O que nos motiva até hoje é saber que <strong>participamos do sonho de milhares de clientes,</strong> os quais consideramos amigos. 
                <br>
                Estamos comprometidos em oferecer o <strong>melhor atendimento e produtos de qualidade</strong> para atender às necessidades de nossos clientes e contribuir para o sucesso de seus projetos. 
                <br>
                <strong>Valorizamos a confiança depositada em nós</strong> ao longo dos anos e estamos ansiosos para continuar nossa jornada ao lado de nossos parceiros e clientes, <strong>buscando sempre a excelência e a satisfação mútua.</strong>
              </div>
            </div>
            <div class="logomatecol">
              <img src="/images/Simbolo_MATECOL.png">
            </div>
          </div>
        </section> 

        <section id="nossas-lojas">
          <div class="lojas">
            <div class="nossas-lojas">
              <h1>Nossas Lojas</h1>
            </div>
            <div class="loja-um">
              <div class="image-with-caption">
                  <img class="" src="/images/img01.JPG" alt="">
                  <div class="caption">
                    <p><strong>Santo Ântonio de Jesus - </strong>Praça Dr. Renato Machado, 100 - Centro</p>
                  </div>
              </div>

              <div class="image-with-caption">
                  <img class="" src="/images/img02.JPG" alt="">
                  <div class="caption">
                      <p><strong>São Miguel das Matas - </strong>Rua Agapito Quadros, 06 - Centro</p>
                  </div>
              </div>
            

              <div class="image-with-caption">
                    <img class="" src="/images/img03.JPG" alt="">
                    <div class="caption">
                      <p><strong>Santo Ântonio de Jesus - </strong>Av. Luís Argôlo, 282A - Centro</p>
                    </div>
                </div>
              <div class="image-with-caption">
                  <img class="" src="/images/img04.JPG" alt="">
                  <div class="caption">
                      <p><strong>São Miguel das Matas - </strong>Av. Barros e Almeida, 252 - Centro</p>
                  </div>
            </div>
        </section>
        <div class="container">
          <div class="card">
            <div class="card__header">
              <img src="/images/reflorestamento-e-sustentabilidade.jpg" alt="card__image" class="card__image" width="600">
            </div>
            <div class="card__body">
              <span class="tag tag-blue">Meio Ambiete</span>
              <h4>Matecol e a sustentabilidade</h4>
              <p>Prezamos pelo respeito a nossos clientes e a sociedade, por isso, utilizamos madeiras ecologicamente corretas, de reflorestamento e que possuem Documento de Origem Florestal (DOF).
                <br>
              A Matecol valoriza a procedência de seus produtos e mantém em seu pátio apenas madeiras reflorestadas e legalizadas, provenientes de um processo produtivo de manejo sustentável, além de acompanhar a origem, extração e transporte dos produtos, garantindo, assim, madeiras de qualidade e totalmente legalizadas para nossos clientes.</p>
            </div>
          </div>
        </div>
          
    </body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/4ce9366941.js" crossorigin="anonymous"></script>
