<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/style.css" rel="stylesheet" />

    <title>Matecol</title>
</head>
<body>
    <head>
        <div class="principal-head">
            <div class="principal-head-logo">
                <img src="/images/matecol-construcao-e-agricultura.jpg" alt="Logo matecol-construcao e agricultura">
            </div>
            <div class="principal-head-info">
                <p>Santo Antônio de Jesus: 75 3632-4044</p>
                <p>São Miguel das Matas: 75 3676-2106</p>
                <p>Faça seu pedio pelo Whatsapp: <br> 71 3631-4044</p>
            </div>
        </div>
    </head>
</body>
</html>